


#account_settings{
   
    justify-content: center;
    flex-wrap: nowrap;
    padding-block: 20px;
    border: solid black .5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    overflow: hidden;
    
}



#emails{
    
    justify-content: center;
    flex-wrap: nowrap;
    padding-block: 20px;
    flex-direction: row;
    border: solid black .5px;
   
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    overflow: hidden;
    
}

#email_sample{
    
    justify-content: center;
    flex-wrap: nowrap;
    padding-block: 20px;
    
    border: solid black .5px;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  
}
#avatar{
    width: 210px;
    height:40px;
    transform: translate(20px,10px);
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 100px;
    
}

#wordpress{
    width: 100px;
    height: 60px;
    transform: translate(160px, -40px);
    margin-top: 40px;

    
}

#compose_button{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 70px;
}

p {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.material-symbols-outlined{
    transform: translate(400px,30px);


}

#from{
    text-align: left;
    font-size: small;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}


